<div class="row jumbotron artistBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <div style="text-align: right;">
            <a ui-sref="home"><img class="roleIcon-sm" <img src="images/default-hex.png" alt="Nathaniel" /></a>
          </div>
        </div>
        <div class="panel-body">
          <div class="well col-lg-3 col-md-12 col-sm-12" style="text-align: center;">
            <a ui-sref="artist"><img src="images/web-rdy_icons/artist-hex.png" alt="artist" /></a>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12" style="text-align: center;">
            <h6>
              When I was young - around the age of 5 - I found out that I really enjoyed drawing things. In fact, I have memories of trying make sense of the universe around me through drawings of space, the planets, video game characters, and nature.
            </h6>
            <h6>
              I have positive memories of art classes in elementary school. As I got older, I began to hone my craft.
            </h6>
            <h6>
              My classes taught me to draw what is there, not what I think is there.
            </h6>
            <h6>
              Realizing that I could communicate with art, I began to wonder what ideas I could form.
            </h6>
            <h6>
              Attempting to show mortality or high school angst, I found an interest in skulls. But, my craft was enhanced to a point where these basic fundamentals are now useful in a larger way, and even useful in my current pursuits. Along this path, I've learned about other forms of art, too.
            </h6>
          </div>
        </div>
        <div class="panel-footer">
          <div style="text-align: center;">
            <a ui-sref="musician"><img class="roleIcon" src="images/web-rdy_icons/musician.jpg" alt="musician" /></a>
            <a ui-sref="painter"><img class="roleIcon" src="images/web-rdy_icons/painter.jpg" alt="painter" /></a>
            <a ui-sref="photographer"><img class="roleIcon" src="images/web-rdy_icons/photographer.jpg" alt="photographer" /></a>
            <a ui-sref="graphic-designer"><img class="roleIcon" src="images/web-rdy_icons/graphic-designer.jpg" alt="graphic-designer" /></a>
            <a ui-sref="sound-designer"><img class="roleIcon" src="images/web-rdy_icons/sound-designer.jpg" alt="sound-designer" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
