<div class="row jumbotron artistBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-danger">
        <div class="panel-heading"></div>
        <div class="panel-body">
          <div class="well col-lg-3 col-md-12 col-sm-12">
            <a ui-sref="artist"><img src="images/web-rdy_icons/artist-hex.png" alt="artist" /></a>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12" style="text-align: center;">
            <h6>
              First I was a musican. Then I was began painting. And so on until I began experimenting with audio.
            </h6>
            <h6>
              And, More text goes here!
            </h6>
            <h6>
              And, More text goes here!
            </h6>
            <h6>
              Finally, More text goes here!
            </h6>
          </div>
        </div>
        <div class="panel-footer">
          <div style="text-align: center;">
            <a ui-sref="musician"><img class="roleIcon" src="images/web-rdy_icons/musician.jpg" alt="musician" /></a>
            <a ui-sref="painter"><img class="roleIcon" src="images/web-rdy_icons/painter.jpg" alt="painter" /></a>
            <a ui-sref="photographer"><img class="roleIcon" src="images/web-rdy_icons/photographer.jpg" alt="photographer" /></a>
            <a ui-sref="graphic-designer"><img class="roleIcon" src="images/web-rdy_icons/graphic-designer.jpg" alt="graphic-designer" /></a>
            <a ui-sref="sound-designer"><img class="roleIcon" src="images/web-rdy_icons/sound-designer.jpg" alt="sound-designer" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
