<div class="row jumbotron programmingBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div style="text-align: right;" ng-hide="hideIcon">
            <a ui-sref="home">
              <img style="border: 1px solid white;
                          box-sizing: border-box;
                          -moz-box-sizing: border-box;
                          -webkit-box-sizing: border-box;"
                   class="roleIcon-sm" <img src="images/default.jpg" alt="Nathaniel" />
            </a>
          </div>
        </div>
        <div class="panel-body">
          <div class="well col-lg-3 col-md-12 col-sm-12" style="text-align: center;">
            <a ui-sref="computer-programmer"><img class="roleIcon-lg" src="images/web-rdy_icons/computer-programmer-hex.png" alt="computer-programmer" /></a>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12">
            <h6>
              Finding out how to manipulate HTML was a fun problem for me, and I wanted to make web pages and a website to display content on the Internet. Early on, near the end of college, I remember someone describing programming as harnessing an army of robots. And, my intention was oriented into make this army one of good.
            </h6>
            <h6>
              I feel lucky that I was able to learn how to program. And, I am happy that I have opportunities to contribute to my communities and to make positive impacts on others.
            </h6>
            <h6>
              At first, I didn't realize that writing JavaScript was a form of programming. Imagine that! Web design was my introduction to making computers do things. Here is where I am now. There is never a dull moment.
            </h6>
            <h6>
              I enjoy working with other programmers because there is an innate sense of curiosity and passion. It's important to me to connect emotionally with those around me, and software is another medium to continue that process.
            </h6>
            <h6>
              Of course, with great power comes an ability to influence, learn, and hopefully find some kind of inner peace. With a sense of calm, those ideas could persist to others who don't program. I hope I can assist through the software I create, too.
            </h6>
          </div>
        </div>
        <div class="panel-footer">
          <div style="text-align: center;">
            <a ui-sref="back-end-developer"><img class="roleIcon" src="images/web-rdy_icons/back-end-developer.jpg" alt="back-end developer"/></a>
            <a ui-sref="front-end-developer"><img class="roleIcon" src="images/web-rdy_icons/front-end-developer.jpg" alt="front-end developer" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
