<div class="row jumbotron programmingBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div style="text-align: right;">
            <a ui-sref="home"><img class="roleIcon-sm" <img src="images/default-hex.png" alt="Nathaniel" /></a>
          </div>
        </div>
        <div class="panel-body">
          <div class="well col-lg-3 col-md-12 col-sm-12" style="text-align: center;">
            <a ui-sref="computer-programmer"><img src="images/web-rdy_icons/computer-programmer-hex.png" alt="computer-programmer" /></a>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12">
          </div>
        </div>
        <div class="panel-footer">
          <div style="text-align: center;">
            <a ui-sref="back-end-developer"><img class="roleIcon" src="images/web-rdy_icons/back-end-developer.jpg" alt="back-end developer"/></a>
            <a ui-sref="front-end-developer"><img class="roleIcon" src="images/web-rdy_icons/front-end-developer.jpg" alt="front-end developer" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
