<div class="row jumbotron engineeringBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <div style="text-align: right;" ng-hide="hideIcon">
            <a ui-sref="home"><img class="roleIcon-sm" <img src="images/default-hex.png" alt="Nathaniel" /></a>
          </div>
        </div>
        <div class="panel-body">
          <div class="well col-lg-3 col-md-12 col-sm-12" style="text-align: center;">
            <a ui-sref="engineer"><img src="images/web-rdy_icons/engineer-hex.png" alt="engineer" /></a>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12">

          </div>
        </div>
        <div class="panel-footer">
          <div style="text-align: center;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
