<div class="row jumbotron engineeringBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <div style="text-align: right;" ng-hide="hideIcon">
            <a ui-sref="home">
              <img style="border: 1px solid white;
                          box-sizing: border-box;
                          -moz-box-sizing: border-box;
                          -webkit-box-sizing: border-box;"
                   class="roleIcon-sm" <img src="images/default.jpg" alt="Nathaniel" />
            </a>
          </div>
        </div>
        <div class="panel-body">
          <div class="well col-lg-3 col-md-12 col-sm-12" style="text-align: center;">
            <a ui-sref="engineer"><img class="roleIcon-lg" src="images/web-rdy_icons/engineer-hex.png" alt="engineer" /></a>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12">
            <h6>
              Not only do I want to think about a system in terms of its modularity, but I want to create a balance between the parts. The whole of the system should be greater than the sum of its parts. I want each of piece of the whole to have closed systems where each interacts and thrives from each other.
            </h6>
            <h6>
              I strive for the perfection in the harmony, at least where the system requires a prolonged sense of tranquility. But, to be less poetic, I feel that a perfectly engineered system accomplishes its goals - no more or less.
            </h6>
            <h6>
              I've learned that spillover effects in a system, even if accidentally beneficial do not enhanced the goals of the engineer. In fact, a planned and designed system is one where it benefits the user.
            </h6>
            <h6>
              To this end, I seek to hone my crafts. Society will be able to benefit as it has from engineers in our society. I do not take this duty lightly, because I aim to build upon the achievements of those giants that came before me.
            </h6>
            <h6>
              When others squander their opportunities, they stall attempts that humanity makes at achieving more fulfilling and more meaningful lives for its members. I have opportunities to engineer tools, applications, aesthetics, and more. I plan to make the most of what I know.
            </h6>
          </div>
        </div>
        <div class="panel-footer">
          <div style="text-align: center;">
            <a ui-sref="software-engineer"><img class="roleIcon" src="images/web-rdy_icons/software-engineer.jpg" alt="software-engineer" /></a>
            <a ui-sref="affective-engineer"><img class="roleIcon" src="images/web-rdy_icons/affective-engineer.jpg" alt="affective-engineer" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
