<div class="row jumbotron scienceBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          <div style="text-align: right;" ng-hide="hideIcon">
            <a ui-sref="home">
              <img style="border: 1px solid white;
                          box-sizing: border-box;
                          -moz-box-sizing: border-box;
                          -webkit-box-sizing: border-box;"
                   class="roleIcon-sm" <img src="images/default.jpg" alt="Nathaniel" />
            </a>
          </div>
        </div>
        <div class="panel-body">
          <div class="well col-lg-3 col-md-12 col-sm-12" style="text-align: center;">
            <a ui-sref="natural-scientist"><img class="roleIcon-lg" src="images/web-rdy_icons/natural-scientist-hex.png" alt="natural-scientist" /></a>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12">
            <h6>
              I asked questions. I wanted to know what made up the universe. I was more interested, especially as I became more aware of my existence. By the time I got to be a young adult in high school I had developed a passion for nature.
            </h6>
            <h6>
              Feeling intrigued and curious, I was in a perfect position to explore but I was initially distracted by my artistic passions. I felt engaged in the few opportunities I did have to explore throughout my collegiate experiences.
            </h6>
            <h6>
              I learned I needed to plan a specific time for me to begin my pursuits into understanding nature, and I couldn't find a reason to prioritize my interest in natural science until after other life matters - like finding a job.
            </h6>
            <h6>
              I was frustrated because I couldn't develop these pursuits until now, but I'm excited about the possibilities because now I have the resources and the support to accomplish fascinating projects.
            </h6>
            <h6>
              It's important to me to take what I learn and apply it in a way that others can benefit. I haven't figured exactly what that might be, but I do know I am going to start by trying to replicate the studies of others.
            </h6>
          </div>
        </div>
        <div class="panel-footer">
          <div style="text-align: center;">
            <a ui-sref="botanist"><img class="roleIcon" src="images/web-rdy_icons/botanist.jpg" alt="botanist" /></a>
            <a ui-sref="biologist"><img class="roleIcon" src="images/web-rdy_icons/biologist.jpg" alt="biologist" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
