<div class="row jumbotron socialBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div style="text-align: right;" ng-hide="hideIcon">
            <a ui-sref="home"><img class="roleIcon-sm" <img src="images/default-hex.png" alt="Nathaniel" /></a>
          </div>
        </div>
        <div class="panel-body">
          <div class="well col-lg-3 col-md-12 col-sm-12" style="text-align: center;">
            <a ui-sref="social-scientist"><img src="images/web-rdy_icons/social-scientist-hex.png" alt="social-scientist" /></a>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12" style="text-align: center;">
            <h6>
              I decided to take an anthropology class, and never really enrolled in another. This was the winter of my first collegiate year and it later inspired me to follow a path that open my mind to the idea of everything being negotiable.
            </h6>
            <h6>
              Feeling empowered, I began to consider ways to supplement my artistic background. I thought about public relations, but felt I could make larger impacts and more a more positive one. I was very excited at the possibilities and I couldn't stop thinking about ways to build resilient communities.
            </h6>
            <h6>
              Institutions, both formal and informal, were my first exposure to the rules of our society. Later, I learned that complexity theory and systems theory could be frameworks for me, at least in understanding the nature of human organizations. Culture became an important subject, and later I found about dialectical thinking.
            </h6>
            <h6>
              At this point, I really began to think about humanity as an extension of my greater family. I want to assist others, and make sure that we survive the next 100 years on Earth. If we do, I think we will have broken through some major barriers in the development of life. And then, who knows?
            </h6>
            <h6>
              Of course, I'm speculating. I absolutely want to provide more scientific and analytical rigor to the social sciences, and I think my unique background will be able to make people rethink some of their initial axioms.
            </h6>
          </div>
        </div>
        <div class="panel-footer">
          <div style="text-align: center;">
            <a ui-sref="journalist"><img class="roleIcon" src="images/web-rdy_icons/journalist.jpg" alt="journalist" /></a>
            <a ui-sref="world-historian"><img class="roleIcon" src="images/web-rdy_icons/world-historian.jpg" alt="world historian" /></a>
            <a ui-sref="political-economist"><img class="roleIcon" src="images/web-rdy_icons/political-economist.jpg" alt="political economist" /></a>
            <a ui-sref="social-activist"><img class="roleIcon" src="images/web-rdy_icons/social-activist.jpg" alt="social activist" /></a>
            <a ui-sref="comparative-institutionalist"><img class="roleIcon" src="images/web-rdy_icons/comparative-institutionalist.jpg" alt="comparative institutionalist"/></a>
            <a ui-sref="cultural-anthropologist"><img class="roleIcon" src="images/web-rdy_icons/cultural-anthropologist.jpg" alt="cultural_anthropologist" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
