<div class="row jumbotron engineeringBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <div style="text-align: right;">
            <a ui-sref="engineer"><img class="roleIcon-sm" src="images/web-rdy_icons/engineer.jpg" alt="engineer" /></a>
          </div>
        </div>
        <div class="panel-body">
          <div class="well col-lg-3 col-md-12 col-sm-12" style="text-align: center;">
            <a ui-sref="affective-engineer"><img class="roleIcon-lg" src="images/web-rdy_icons/affective-engineer-hex.png" alt="affective-engineer" /></a>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12" style="text-align: center;">
            <h6>
              I allowed my curiosity to wander, and I noticed ideas of neuroscience, philosophy, psychology, and other fields. Some of these included those of computing. At this intersection was the notion of affective computing, and I'm now learning about it.
            </h6>
            <h6>
              I am thrilled at the prospects of learning about myself, others, and building emotionally affective and effective tools. My nervousness and anxiety is something that I'm hoping to overcome in this process as I learn the ethical and technical implications and challenges.
            </h6>
            <h6>
              Discovering the research over the past two decades is important to me, and I've begun by getting an overhead perspective of the leaders in the academic space. I'm also finding out that there are only a few emerging commercial enterprises. I can also see the benefits for the greater public if these computers were made open and free.
            </h6>
            <h6>
              Affect is important to determining emotion, and that emotion is an important and cherished concept today. I believe we should treat human emotion delicately. We want to ensure that every individual participates in affective computing via opt-in policies, otherwise we risk subverting individual and collective agency.
            </h6>
            <h6>
              We have two options. The former allows us to understand ourselves, and then we can give machines emotions, as well. The latter results in a scenario where we can continue to lose introspection and connection with others. There will most likely be some kind of blend of the two options, but we should aim to have more of the former.
            </h6>
          </div>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-controller="affectiveEngineerController">
  <statistics-container-directive></statistics-container-directive>
</div>

<div class="row" ng-controller="affectiveEngineerController">
  <engineer-article-container-directive></engineer-article-container-directive>
</div>

<engineer-nav-directive></engineer-nav-directive>
