<div class="row jumbotron engineeringBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <div style="text-align: right;">
            <a ui-sref="engineer"><img class="roleIcon-sm" src="images/web-rdy_icons/engineer.jpg" alt="engineer" /></a>
          </div>
        </div>
        <div class="panel-body">
          <div class="well col-lg-3 col-md-12 col-sm-12" style="text-align: center;">
            <a ui-sref="affective-engineer"><img class="roleIcon-lg" src="images/web-rdy_icons/affective-engineer-hex.png" alt="affective-engineer" /></a>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12" style="text-align: center;">
            <h6>
            </h6>
            <h6>
            </h6>
            <h6>
            </h6>
            <h6>
            </h6>
            <h6>
            </h6>
          </div>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-controller="affectiveEngineerController">
  <statistics-container-directive></statistics-container-directive>
</div>

<div class="row" ng-controller="affectiveEngineerController">
  <engineer-article-container-directive></engineer-article-container-directive>
</div>

<engineer-nav-directive></engineer-nav-directive>
