<div class="row jumbotron artistBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-danger">
        <div class="panel-heading">An artist project</div>
        <div class="panel-body">
          <div class="well col-lg-3 col-md-12 col-sm-12">
            <a ui-sref="artist"><img src="images/web-rdy_icons/artist-hex.png" alt="artist" /></a>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12">
            <a ui-sref="painter"><img class="roleIcon" src="images/web-rdy_icons/painter-hex.png" alt="painter" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
