<div class="row jumbotron programmingBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div style="text-align: right;">
            <a ui-sref="computer-programmer"><img class="roleIcon-sm" src="images/web-rdy_icons/computer-programmer.jpg" alt="computer-programmer" /></a>
          </div>
        </div>
        <div class="panel-body">
          <div class="well col-lg-3 col-md-12 col-sm-12" style="text-align: center;">
            <a ui-sref="back-end-developer"><img class="roleIcon-lg" src="images/web-rdy_icons/back-end-developer-hex.png" alt="back-end-developer" /></a>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12" style="text-align: center;">
            <h6>
              Looking for a way to apply myself as a first post-collegiate pursuit, I began to learn the Java programming language professionally. And, not knowing all of the aspects, I stumbled my way into Object-oriented programming as a programming paradigm.
            </h6>
            <h6>
              I was nervous. I was afraid. I did not know what I was doing. And, I did not know how things were going to work out. On top of those feelings, I had to learn how to program.
            </h6>
            <h6>
              As a result, I would either fail and give up or learn from each failure and try to project myself forward. I learned to learn in college, but as a Java Developer I learned how to learn quickly. The Java language assisted me, but learning programming under pressure was more valuable.
            </h6>
            <h6>
              I began to discover that I could focus my attention precisely, and it motivated me to be more specific in arenas outside of programming. I learned that I could build software for others.
            </h6>
            <h6>
              Figuring out that software was an ultimate tool of the era we live in allowed me to begin the shaping of other exciting new tools. But, I now try to apply my programming skills towards new kinds of programming such as Machine Learning and Affective Computing.
            </h6>
          </div>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-controller="backEndDeveloperController">
  <statistics-container-directive></statistics-container-directive>
</div>

<div class="row" ng-controller="backEndDeveloperController">
  <coding-container-directive></coding-container-directive>
</div>

<computer-programmer-nav-directive></computer-programmer-nav-directive>
