<div class="row jumbotron scienceBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          <div style="text-align: right;">
            <a ui-sref="natural-scientist"><img class="roleIcon-sm" src="images/web-rdy_icons/natural-scientist.jpg" alt="natural-scientist" /></a>
          </div>
        </div>
        <div class="panel-body">
          <div class="well col-lg-3 col-md-12 col-sm-12" style="text-align: center;">
            <a ui-sref="biologist"><img class="roleIcon-lg" src="images/web-rdy_icons/biologist-hex.png" alt="biologist" /></a>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12" style="text-align: center;">
            <h6>
            </h6>
            <h6>
            </h6>
            <h6>
            </h6>
            <h6>
            </h6>
            <h6>
            </h6>
          </div>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-controller="biologistController">
  <statistics-container-directive></statistics-container-directive>
</div>

<div class="row jumbotron scienceBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          Ongoing Research
        </div>
        <div class="panel-body">
          The goal is to find a Tardigrade. The other goal is to classify (at least a high level) as many different species and where they are found.
        </div>
      </div>
    </div>
  </div>
</div>

<video-container-directive color="success" bkgd="scienceBKGD" video_path="//www.youtube.com/embed/rRc3NnzBYmk"></video-container-directive>
<video-container-directive color="success" bkgd="scienceBKGD" video_path="//www.youtube.com/embed/kNXyQFESsfw"></video-container-directive>
<video-container-directive color="success" bkgd="scienceBKGD" video_path="//www.youtube.com/embed/qn9Ur5D_EU8"></video-container-directive>
<video-container-directive color="success" bkgd="scienceBKGD" video_path="//www.youtube.com/embed/FnLBLwLzLMQ"></video-container-directive>

<natural-scientist-nav-directive></natural-scientist-nav-directive>
