<div class="row jumbotron scienceBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          <div style="text-align: right;">
            <a ui-sref="natural-scientist"><img class="roleIcon-sm" src="images/web-rdy_icons/natural-scientist.jpg" alt="natural-scientist" /></a>
          </div>
        </div>
        <div class="panel-body">
          <div class="well col-lg-3 col-md-12 col-sm-12" style="text-align: center;">
            <a ui-sref="botanist"><img class="roleIcon-lg" src="images/web-rdy_icons/botanist-hex.png" alt="botanist" /></a>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12" style="text-align: center;">
            <h6>
              Initially, my participation in a Kickstarter campaign started my thought process about plants. I wondered if we could not only make the plants glow, but if we could also improve them in other ways via ethical genetic modification.
            </h6>
            <h6>
              I feel that we under utilize our spaces for growing food. I think we could also implement hydroponic and vertical farming techniques within our cities.
            </h6>
            <h6>
              I've learned that botany is not only useful for our earthly pursuits, but it will be vital if we ever want to traverse our solar system. I've also learned that growing plants correctly is hard.
            </h6>
            <h6>
              Learning how to grow plants makes me appreciate farming more as a profession. I already appreciated the heritage of farmers in my family, but I understand that modern agriculture is much different than the kind of farming they pursued.
            </h6>
            <h6>
              Maybe one day in the distant future, farming will change again. Hopefully, we can be mindful of the goals we attempt to achieve, and maybe humans can also apply relevant permaculture techniques in the process.
            </h6>
          </div>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-controller="botanistController">
  <statistics-container-directive></statistics-container-directive>
</div>

<div class="row" ng-controller="botanistController">
  <image-scientist-container-directive></image-scientist-container-directive>
</div>

<natural-scientist-nav-directive></natural-scientist-nav-directive>
