<div class="row jumbotron scienceBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          <div style="text-align: right;">
            <a ui-sref="natural-scientist"><img class="roleIcon-sm" src="images/web-rdy_icons/natural-scientist.jpg" alt="natural-scientist" /></a>
          </div>
        </div>
        <div class="panel-body">
          <div class="well col-lg-3 col-md-12 col-sm-12" style="text-align: center;">
            <a ui-sref="botanist"><img class="roleIcon-lg" src="images/web-rdy_icons/botanist-hex.png" alt="botanist" /></a>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12" style="text-align: center;">
            <h6>
            </h6>
            <h6>
            </h6>
            <h6>
            </h6>
            <h6>
            </h6>
            <h6>
            </h6>
          </div>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-controller="botanistController">
  <statistics-container-directive></statistics-container-directive>
</div>

<natural-scientist-nav-directive></natural-scientist-nav-directive>
