<div class="row jumbotron socialBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div style="text-align: right;">
            <a ui-sref="social-scientist"><img class="roleIcon-sm" src="images/web-rdy_icons/social-scientist.jpg" alt="social-scientist" /></a>
          </div>
        </div>
        <div class="panel-body">
          <div class="well col-lg-3 col-md-12 col-sm-12" style="text-align: center;">
            <a ui-sref="comparative-institutionalist"><img class="roleIcon-lg" src="images/web-rdy_icons/comparative-institutionalist-hex.png" alt="comparative-institutionalist" /></a>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12" style="text-align: center;">
            <h6>
              Interested in groups of people, I wanted to figure out why we worked like humans do and not like other animals. I decided to eventually do research during my senior year of college which compared the rules of financial institutions in western society.
            </h6>
            <h6>
              The clarity I got from learning the rules of the world brought me a great deal of calm. But, it also made me more curious of the stories that humanity has and what lead us to this point.
            </h6>
            <h6>
              Structural concerns, similar to that of any other system, are critical to determining the behaviors of humans. It ultimately means that I am only an agent in the systems I participate in, but also it implies I do influence the system.
            </h6>
            <h6>
              My role in society is important to me, and I see it as dynamic. I want to be able to utilize my small influence to make others smarter, happier, friendlier, and more adjusted to their surroundings.
            </h6>
            <h6>
              Eliminating coercion as a form of authority is an ideal, but a closer reality may be actually understanding what the nature of coercion really has become in its modern context. I'm not advocating for violence, but rather the goals of understanding poor decisions.
            </h6>
          </div>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-controller="comparativeInstitutionalistController">
  <statistics-container-directive></statistics-container-directive>
</div>

<div class="row" ng-controller="comparativeInstitutionalistController">
  <article-container-directive></article-container-directive>
</div>

<div class="row" ng-controller="comparingTopicsController">
  <article-container-directive></article-container-directive>
</div>

<div class="row" ng-controller="europeanPoliticalSystemsController">
  <article-container-directive></article-container-directive>
</div>

<social-scientist-nav-directive></social-scientist-nav-directive>
