<div class="row jumbotron socialBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div style="text-align: right;">
            <a ui-sref="social-scientist"><img class="roleIcon-sm" src="images/web-rdy_icons/social-scientist.jpg" alt="social-scientist" /></a>
          </div>
        </div>
        <div class="panel-body">
          <div class="well col-lg-3 col-md-12 col-sm-12" style="text-align: center;">
            <a ui-sref="cultural-anthropologist"><img class="roleIcon-lg" src="images/web-rdy_icons/cultural-anthropologist-hex.png" alt="cultural-anthropologist" /></a>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12" style="text-align: center;">
            <h6>
              Relativistic thought was is something I hold with high regard, but I began to refine my own sense of empathy as I learned about other cultures.
            </h6>
            <h6>
              I am disgusted by the idea that other cultures cannibalize their dead. Understandably, in some of those cases the consuming community also might see it as a disgusting, but necessary, activity. When I learned that rituals like these are important to groups of people, I felt lucky that I had another way to relate to others, even if I felt uncomfortable in the process.
            </h6>
            <h6>
              I'm becoming better at understanding my gaps in knowledge or perspective. And, it makes me constantly consider what might be invisible to me but opaque to others. I try to understand that when fights occur, both parties might simply be afraid or concerned. And in some cases, this concern might be for the other. I will always be learning how to be compassionate.
            </h6>
            <h6>
              I hope that others can become more relativistic because I think their lives will become easier and less confusing. If someone can overcome cognitive dissonance, then that person will probably generate a more healthy outlook on their surroundings.
            </h6>
            <h6>
              We are forced to act if we want to see changes, and understanding human culture is a useful perspective in crucial scenarios. The unstable circumstances in human history usually require leaders to moderate their followers.
            </h6>
          </div>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-controller="culturalAnthropologistController">
  <statistics-container-directive></statistics-container-directive>
</div>

<div class="row" ng-controller="culturalAnthropologistController">
  <article-container-directive></article-container-directive>
</div>

<div class="row" ng-controller="mediaHistoryController">
  <article-container-directive></article-container-directive>
</div>

<div class="row" ng-controller="deutschKulturController">
  <article-container-directive></article-container-directive>
</div>

<social-scientist-nav-directive></social-scientist-nav-directive>
