<div class="row jumbotron programmingBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div style="text-align: right;">
            <a ui-sref="computer-programmer"><img class="roleIcon-sm" src="images/web-rdy_icons/computer-programmer.jpg" alt="computer-programmer" /></a>
          </div>
        </div>
        <div class="panel-body">
          <div class="well col-lg-3 col-md-12 col-sm-12" style="text-align: center;">
            <a ui-sref="front-end-developer"><img class="roleIcon-lg" src="images/web-rdy_icons/front-end-developer-hex.png" alt="front-end-developer" /></a>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12" style="text-align: center;">
            <h6>
              I never really thought that I was starting down a path of software development when I wanted to learn HTML. I thought CSS was very similar to that of an InDesign rule for page layout. And, I though JavaScript was a way of making the HTML dance like an animation in Adobe Flash or After Effects. When I decided to learn Java, I also decided to rethink some of my ignorance towards user interface development.
            </h6>
            <h6>
              I felt amazed, and shocked. But, I also felt content.
            </h6>
            <h6>
              I learned that a user interface becomes the portal for humans. Learning about the future of augmented reality and virtual reality challenges this role. It means that I might be able to assist in redefining what the front end really is in a computer system. In the before times, it stopped at the terminal screen, but now the front of a system might be one (or many) of many screens, devices, or some other interface.
            </h6>
            <h6>
              My excitement towards how humans use computers will never cease.
            </h6>
            <h6>
              I'm thrilled to see people use computers, and I hope that computers and humans become a lot friendlier towards each other in the future.
            </h6>
          </div>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-controller="frontEndDeveloperController">
  <statistics-container-directive></statistics-container-directive>
</div>

<div class="row" ng-controller="frontEndDeveloperController">
  <coding-container-directive></coding-container-directive>
</div>

<computer-programmer-nav-directive></computer-programmer-nav-directive>
