<div class="row jumbotron artistBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <div style="text-align: right;">
            <a ui-sref="artist"><img class="roleIcon-sm" src="images/web-rdy_icons/artist.jpg" alt="artist" /></a>
          </div>
        </div>
        <div class="panel-body">
          <div class="well col-lg-3 col-md-12 col-sm-12" style="text-align: center;">
            <a ui-sref="graphic-designer"><img src="images/web-rdy_icons/graphic-designer-hex.png" alt="graphic-designer" /></a>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12" style="text-align: center;">
            <h6>
              Deciding to be more minimal in my fine arts, I discovered I had an interest in design. And, wanting an internship my senior year of high school, I had a fabulous set of mentors. Being told to make something for the community, I not only designed the visuals, but also the plan of how to integrate graphics with text.
            </h6>
            <h6>
              After being able to tell a story, I felt confident in my narrative abilities. I wanted to ensure that I left a legacy at my high school, and I was passionate about the community that nurtured my growth. In fact, Scorpion Success, as it was called, became a guide for other students and featured my peers.
            </h6>
            <h6>
              My abilities to enhance a community improved, but my abilities to self-teach grew more. I discovered my passions in design, and set myself in philosophies forged in the heat of youth. This mindset is of optimism and a yearning to use my skills for others.
            </h6>
            <h6>
              I refuse to make negative public relations material, because I notice the dangers of visual lies. Graphic design is a medium that allow a mass production of ideas, where lies can easily be conveyed in the place of truths.
            </h6>
            <h6>
              I believe that humanity should only be receiving the kind of propaganda which focuses our attention towards greatness in our next healthy step. When I learned to design graphics, I also discovered the part of myself compelled to go forth, and I am committed to achieving that journey.
            </h6>
          </div>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-controller="graphicDesignerController">
  <image-artist-container-directive></image-artist-container-directive>
</div>
<div class="row" ng-controller="formController">
  <image-artist-container-directive></image-artist-container-directive>
</div>
<div class="row" ng-controller="herbertBayerController">
  <image-artist-container-directive></image-artist-container-directive>
</div>
<div class="row" ng-controller="scorpV1Controller">
  <image-artist-container-directive></image-artist-container-directive>
</div>

<div class="row jumbotron artistBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-danger">
        <div class="panel-heading">
          Testimonial
        </div>
        <div class="panel-body">
          <div class="well col-lg-12 col-md-12 col-sm-12" style="text-align: center;">
            <img
            style="margin: 5px 5px 5px 5px;
                   border: white 1px solid;
                   max-width: 98%;
                   max-height: 450px;"
            src="../content/roles/socialActivist/scorpionSuccess/WR/leo-quinn-testimonial.jpg"></img>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-controller="scorpV2Controller">
  <image-artist-container-directive></image-artist-container-directive>
</div>

<artist-nav-directive></artist-nav-directive>
