<div class="row jumbotron socialBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading"></div>
        <div class="panel-body">
          <div class="well col-lg-3 col-md-12 col-sm-12" style="text-align: center;">
            <a ui-sref="journalist"><img src="images/web-rdy_icons/journalist-hex.png" alt="journalist" /></a>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12" style="text-align: center;">
            <h6>
              In high school I was involved with the school newspaper, and I remember treating the experience like a real job! I even decided to interview community members to report on the events going on around the high school. In college, I decided to take more of an editorial stance. At UMBC, I exercised my opinionated voice, and it was only for a semester. Afterwards, I started blogs and I am now more freelance.
            </h6>
            <h6>
              Rigorous journalism is like rigorous science for me, and without rigor, I have no interest. The reporting medium has the potential to influence the population it impacts.
            </h6>
            <h6>
              I've learned in these experiences that journalism can come in many forms, and particularly. the medium changes the way the message is received. I also now think about ideas as signals, and I wonder what would occur if messages were always received as intended.
            </h6>
            <h6>
              While most of my ideas about journalism started with me simply trying to be heard, I now view journalism as a decentralizing force. Social media may make it possible for others to be heard, or it might quiet their voice.
            </h6>
            <h6>
              While language and images are ambiguous at times, those are clearly continuing to evolve the ways in which people communicate.
            </h6>
          </div>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-controller="journalistController">
  <article-container-directive></article-container-directive>
</div>
