<div class="row jumbotron socialBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div style="text-align: right;">
            <a ui-sref="social-scientist"><img class="roleIcon-sm" src="images/web-rdy_icons/social-scientist.jpg" alt="social-scientist" /></a>
          </div>
        </div>
        <div class="panel-body">
          <div class="well col-lg-3 col-md-12 col-sm-12" style="text-align: center;">
            <a ui-sref="linguist"><img class="roleIcon-lg" src="images/web-rdy_icons/linguist-hex.png" alt="linguist" /></a>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12" style="text-align: center;">
            <h6>
            </h6>
            <h6>
            </h6>
            <h6>
            </h6>
            <h6>
            </h6>
            <h6>
            </h6>
          </div>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row" ng-controller="linguistController">
  <statistics-container-directive></statistics-container-directive>
</div>


<!--
 * 0 - No Practical Proficiency
 * 1 - Elementary Proficiency
 * 2 - Limited Working Proficiency
 * 3 - Minimum Professional Proficiency
 * 4 - Full Professional Proficiency
 * 5 - Native or Bilingual Proficiency
   Read: the ability to read and understand texts written in the language
   Write: the ability to formulate written texts in the language
   Listen: the ability to follow and understand speech in the language
   Speak: the ability to produce speech in the language and be understood by its speakers.
  -->

<!--Flag icons from: http://www.famfamfam.com/lab/icons/flags/-->

<div class="row jumbotron socialBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Language Skills
        </div>
        <div class="panel-body" style="text-align: center;">
          For convenience, here is a list of common criteria for rating language ability. </br>As the area of the graphs below fills, 'native-equivalent' speaking ability is achieved.
          <hr></hr>
          0 - No Practical Proficiency</br>
          1 - Elementary Proficiency</br>
          2 - Limited Working Proficiency</br>
          3 - Minimum Professional Proficiency</br>
          4 - Full Professional Proficiency</br>
          5 - Native or Bilingual Proficiency</br>
          <hr></hr>
            Listening: the ability to follow and understand speech in the language.</br>
            Speaking: the ability to produce speech in the language and be understood by its speakers.</br>
            Reading: the ability to read and understand texts written in the language.</br>
            Writing: the ability to formulate written texts in the language.</br>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <language-container-directive color="primary" flag="us" language="English" listening="5" speaking="5" reading="5" writing="5"></language-container-directive>
    <language-container-directive color="primary" flag="de" language="German" listening="5" speaking="4" reading="5" writing="3"></language-container-directive>
    <language-container-directive color="primary" flag="es" language="Spanish" listening="4" speaking="3" reading="4" writing="2"></language-container-directive>
    <language-container-directive color="primary" flag="fr" language="French" listening="3" speaking="2" reading="4" writing="2"></language-container-directive>
    <language-container-directive color="primary" flag="it" language="Italian" listening="3" speaking="2" reading="4" writing="2"></language-container-directive>
    <language-container-directive color="primary" flag="se" language="Swedish" listening="3" speaking="2" reading="4" writing="2"></language-container-directive>
    <language-container-directive color="primary" flag="br" language="Portuguese" listening="3" speaking="2" reading="4" writing="2"></language-container-directive>
    <language-container-directive color="primary" flag="no" language="Norwegian" listening="1" speaking="1" reading="3" writing="1"></language-container-directive>
    <language-container-directive color="primary" flag="ru" language="Russian" listening="1" speaking="1" reading="1" writing="1"></language-container-directive>
    <language-container-directive color="primary" flag="tr" language="Turkish" listening="1" speaking="1" reading="1" writing="1"></language-container-directive>
    <language-container-directive color="primary" flag="ie" language="Irish" listening="1" speaking="1" reading="1" writing="1"></language-container-directive>
    <language-container-directive color="primary" flag="ua" language="Ukrainian" listening="1" speaking="1" reading="1" writing="1"></language-container-directive>
    <language-container-directive color="primary" flag="nl" language="Dutch" listening="1" speaking="1" reading="2" writing="1"></language-container-directive>
    <language-container-directive color="primary" flag="dk" language="Danish" listening="1" speaking="1" reading="2" writing="1"></language-container-directive>
    <language-container-directive color="primary" flag="pl" language="Polish" listening="1" speaking="0" reading="1" writing="1"></language-container-directive>
    <language-container-directive color="primary" flag="catalonia" language="Catalán" listening="2" speaking="1" reading="1" writing="1"></language-container-directive>
    <language-container-directive color="primary" flag="wales" language="Welsh" listening="0" speaking="0" reading="1" writing="0"></language-container-directive>
    <language-container-directive color="primary" flag="europeanunion" language="Esperanto" listening="2" speaking="1" reading="1" writing="1"></language-container-directive>
  </div>
</div>

<social-scientist-nav-directive></social-scientist-nav-directive>
