<div class="row jumbotron socialBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div style="text-align: right;">
            <a ui-sref="social-scientist"><img class="roleIcon-sm" src="images/web-rdy_icons/social-scientist.jpg" alt="social-scientist" /></a>
          </div>
        </div>
        <div class="panel-body">
          <div class="well col-lg-3 col-md-12 col-sm-12" style="text-align: center;">
            <a ui-sref="linguist"><img class="roleIcon-lg" src="images/web-rdy_icons/linguist-hex.png" alt="linguist" /></a>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12" style="text-align: center;">
            <h6>
            </h6>
            <h6>
            </h6>
            <h6>
            </h6>
            <h6>
            </h6>
            <h6>
            </h6>
          </div>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row" ng-controller="linguistController">
  <statistics-container-directive></statistics-container-directive>
</div>


<!--
 * 0 - No Practical Proficiency
 * 1 - Elementary Proficiency
 * 2 - Limited Working Proficiency
 * 3 - Minimum Professional Proficiency
 * 4 - Full Professional Proficiency
 * 5 - Native or Bilingual Proficiency
   Read: the ability to read and understand texts written in the language
   Write: the ability to formulate written texts in the language
   Listen: the ability to follow and understand speech in the language
   Speak: the ability to produce speech in the language and be understood by its speakers.
  -->

<language-container-directive color="primary" language="french" reading="2" writing="1" listening="3" speaking="1"></language-container-directive>
<language-container-directive color="primary" language="spanish" reading="3" writing="2" listening="4" speaking="3"></language-container-directive>

<social-scientist-nav-directive></social-scientist-nav-directive>

<!--d3, application JavaScript Files-->
<script type="text/javascript" src="js/d3-charts/linguisticRadar.js"></script>
