<div class="row jumbotron artistBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <div style="text-align: right;">
            <a ui-sref="artist"><img class="roleIcon-sm" src="images/web-rdy_icons/artist.jpg" alt="artist" /></a>
          </div>
        </div>
        <div class="panel-body">
          <div class="well col-lg-3 col-md-12 col-sm-12" style="text-align: center;">
            <a ui-sref="musician"><img class="roleIcon-lg" src="images/web-rdy_icons/musician-hex.png" alt="musician" /></a>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12" style="text-align: center;">
            <h6>
              At first, I remember wanting to play a string instrument, but I ended up playing Trumpet in 4th grade instead. I was really quite good, and was better than my peers at that age. As I got older, I continued to excel, participating in band and being the 1st Chair Trumpet player most of my public school life. In college I learned Cello, and now I am trying to find more time to practice both of those musical instruments. I also want to learn more.
            </h6>
            <h6>
              I feel really relaxed when I play music. I also really like listening to music and analyzing it. It's definitely something that makes me feel happy.
            </h6>
            <h6>
              As I grew older, I learned that I didn't like to be pressured into playing music. It is one of the reasons I never sought a profession as a musician. But, I am excited that music is important to humanity because it is important to me, too.
            </h6>
            <h6>
              In college, I mainly used music as a relief for me.
            </h6>
            <h6>
              The whole experience of music is something that I want to continue. I also want to make it easier for others to enjoy music, and I realize that I have had more luck with having parents who appreciate music and encouraged me to try it out.            </h6>
            </h6>
          </div>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
</div>

<artist-nav-directive></artist-nav-directive>
