<div ui-view="intro"></div>

<div class="row" ng-controller="naturalScientistController">
  <statistics-container-directive></statistics-container-directive>
</div>

<div class="row jumbotron scienceBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          Ongoing Research
        </div>
        <div class="panel-body">
          If the following playlist seems incomplete, it probably is! It is a growing list, meant to document and share ideas which encompass a variety of different natural science concepts ranging from idea generation to completed experiments.
        </div>
      </div>
    </div>
  </div>
</div>

<video-container-directive color="success" bkgd="scienceBKGD" video_path="https://www.youtube.com/embed/videoseries?list=PLSLSKhvLhnYrGIsDoci3-8MQOFhbJQhwV"></video-container-directive>

<natural-scientist-nav-directive></natural-scientist-nav-directive>
