<div class="row jumbotron scienceBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-success">
        <div class="panel-heading">A science project</div>
        <div class="panel-body">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non velit ac enim lacinia ultricies. Maecenas laoreet ut lacus nec pharetra. Morbi quis nisl eu nibh semper tempus quis quis lorem. Proin posuere facilisis erat, semper semper mauris ultrices nec. Aliquam erat arcu, placerat at laoreet a, commodo non mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean sodales rhoncus egestas. Cras in consectetur elit, eu lobortis quam. Etiam non ultricies nibh. Morbi ut lectus massa. Donec vitae feugiat libero, sit amet consectetur urna. Nam augue ante, mattis suscipit auctor vel, luctus sed eros.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
