<div class="row jumbotron artistBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <div style="text-align: right;">
            <a ui-sref="artist"><img class="roleIcon-sm" src="images/web-rdy_icons/artist.jpg" alt="artist" /></a>
          </div>
        </div>
        <div class="panel-body">
          <div class="well col-lg-3 col-md-12 col-sm-12" style="text-align: center;">
            <a ui-sref="painter"><img class="roleIcon-lg" src="images/web-rdy_icons/painter-hex.png" alt="painter" /></a>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12" style="text-align: center;">
            <h6>
              Experiencing a lot of discomfort while painting was part of my process. I never really liked getting my hands super messy. I also never really liked the amount of maintenance involved with carrying everything involved, but I wasn't aware of this preference when I was in high school.
            </h6>
            <h6>
              I remember feeling excited that I got to paint, and the annoyances of the easel were just part of the deal.
            </h6>
            <h6>
              My skill with painting was never really all that good to begin, but I really enjoyed the abstraction of impressionism. The concept of layering items was foreign when I began. But, I've found that layering the ideas of the painting physically and metaphorically are important. Also, I discovered that different kinds of painting makes me feel different - watercolor painting makes me feel most relaxed.
            </h6>
            <h6>
              I cared about the experimentation process of painting, and how different it is from other forms of art.
            </h6>
            <h6>
              For me, painting something meant trying to negotiate with the canvas. It taught me some patience, and I think I'm more in touch with my inner calm because of my initial experiences with this challenging medium.
            </h6>
          </div>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-controller="painterController">
  <statistics-container-directive></statistics-container-directive>
</div>

<div class="row" ng-controller="painterController">
  <image-artist-container-directive></image-artist-container-directive>
</div>

<artist-nav-directive></artist-nav-directive>
