<div class="row jumbotron artistBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <div style="text-align: right;">
            <a ui-sref="artist"><img class="roleIcon-sm" src="images/web-rdy_icons/artist.jpg" alt="artist" /></a>
          </div>
        </div>
        <div class="panel-body">
          <div class="well col-lg-3 col-md-12 col-sm-12" style="text-align: center;">
            <a ui-sref="photographer"><img class="roleIcon-lg" src="images/web-rdy_icons/photographer-hex.png" alt="photographer" /></a>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12" style="text-align: center;">
            <h6>
              I wonder what would have happened if I didn't ever learn how to take professional pictures. Would I see the world the same way? I became inspired to capture the perfect shots ever since I was told I had an eye for capturing images. I've decided to value photography as the intersection of my visually artistic goals.
            </h6>
            <h6>
              In high school, I always felt very lucky to practice dark room photography, and I was also very excited when my parents got me a professional digital camera. It was at the beginning of my senior year of high school, and I used the Nikon D60 to capture images that I used in a guide book I was making for my internship.
            </h6>
            <h6>
              Photography for me has been a science more than an art because of its sophisticated process and methods. With either dark room or digital photography, I learned that there are quite a few concepts that are borrowed from the design world. The inspiration comes from the art world.
            </h6>
            <h6>
              I appreciate the intersection between journalism and photography, I like the idea of telling story though film. Photography is very similar, and I think it has a great power behind it, and I hope I can use my skill to benefit others.
            </h6>
            <h6>
              I learned that my photographic abilities are useful in making meaning for myself and other, and I think it is important to remember that today is just part of an ongoing series of meanings. When I think about a photograph, sometimes I remember that it is only a snapshot of time, and not the real thing.
            </h6>
          </div>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-controller="photographerController">
  <statistics-container-directive></statistics-container-directive>
</div>

<div class="row" ng-controller="photographerController">
  <image-artist-container-directive></image-artist-container-directive>
</div>

<artist-nav-directive></artist-nav-directive>
