<div class="row jumbotron socialBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div style="text-align: right;">
            <a ui-sref="social-scientist"><img class="roleIcon-sm" src="images/web-rdy_icons/social-scientist.jpg" alt="social-scientist" /></a>
          </div>
        </div>
        <div class="panel-body">
          <div class="well col-lg-3 col-md-12 col-sm-12" style="text-align: center;">
            <a ui-sref="political-economist"><img src="images/web-rdy_icons/political-economist-hex.png" alt="political-economist" /></a>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12" style="text-align: center;">
            <h6>
              Originally, my only interests in economics were due to the basis of my living in a capitalist system. Later, I began to take political economy classes, which for me was very fascinating because at this intersection I was able to understand the dynamics of power in a new way.
            </h6>
            <h6>
              There were many nights of confusion, but there were even more of frustration. Occasionally, after unlocking some secrets from the universe, I was able to feel a sense of accomplishment until the next confusing topic.
            </h6>
            <h6>
              Economics is suppose to mean something akin to household management, and it ought to be some kind of systems thinking that allows humanity to manage our planet. What we have is a messy house, and we don't know how to clean it. We don't even have a rigorous way to think about starting the process of making things better.
            </h6>
            <h6>
              Understanding others motivations was important to me, and I found out that thinking about things in terms of economics poses its problems. But, I found out that economic thinking provides one very useful lens.
            </h6>
            <h6>
              In a sense, understanding political economy taught me patience, because it is still largely an unpredictable discipline.
            </h6>
          </div>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-controller="politicalEconomistController">
  <article-container-directive></article-container-directive>
</div>
<div class="row" ng-controller="politicalHistoryController">
  <article-container-directive></article-container-directive>
</div>
