<div class="row jumbotron socialBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading"></div>
        <div class="panel-body">
          <div class="well col-lg-3 col-md-12 col-sm-12">
            <a ui-sref="social-scientist"><img src="images/web-rdy_icons/social-scientist-hex.png" alt="social-scientist" /></a>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12">
          </div>
        </div>
        <div class="panel-footer">
          <div style="text-align: center;">
            <a ui-sref="journalist"><img class="roleIcon" src="images/web-rdy_icons/journalist.jpg" alt="journalist" /></a>
            <a ui-sref="world-historian"><img class="roleIcon" src="images/web-rdy_icons/world-historian.jpg" alt="world historian" /></a>
            <a ui-sref="political-economist"><img class="roleIcon" src="images/web-rdy_icons/political-economist.jpg" alt="political economist" /></a>
            <a ui-sref="social-activist"><img class="roleIcon" src="images/web-rdy_icons/social-activist.jpg" alt="social activist" /></a>
            <a ui-sref="comparative-institutionalist"><img class="roleIcon" src="images/web-rdy_icons/comparative-institutionalist.jpg" alt="comparative institutionalist"/></a>
            <a ui-sref="cultural-anthropologist"><img class="roleIcon" src="images/web-rdy_icons/cultural-anthropologist.jpg" alt="cultural_anthropologist" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
