<div class="row jumbotron socialBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div style="text-align: right;">
            <a ui-sref="social-scientist"><img class="roleIcon-sm" src="images/web-rdy_icons/social-scientist.jpg" alt="social-scientist" /></a>
          </div>
        </div>
        <div class="panel-body">
          <div class="well col-lg-3 col-md-12 col-sm-12" style="text-align: center;">
            <a ui-sref="social-activist"><img src="images/web-rdy_icons/social-activist-hex.png" alt="social-activist" /></a>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12" style="text-align: center;">
            <h6>
              While younger, I wanted to make the world better, and ideas like that formed in many other ways. One was through my participation in Student Government, both in high school and college. The other, and I think the better, was by looking at the current set of rules and making something happen.
            </h6>
            <h6>
              My actions were important for me, and it is nice to know that I made others think. What I've been told is that I've had an impact, and I hope that some strange attractors magnify those contributions to society so that we all become better.
            </h6>
            <h6>
              I learned that I have skills that allow me to connect with others, but that others have those same skills to connect with me. I want the engagement to continue.
            </h6>
            <h6>
              With regard to activism, not only do I care about others, but I care about what they do with their attention and agency.
            </h6>
            <h6>
              Specifically, I was able to form groups and associations, which I later learned were forms of social capital. I am now taking stock and thinking about what I can do with technology and automation.
            </h6>
          </div>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-controller="scorpV1Controller">
  <image-container-directive color="primary" bkgd="socialBKGD"></image-container-directive>
</div>

<div class="row jumbotron socialBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Testimonial
        </div>
        <div class="panel-body">
          <div class="well col-lg-12 col-md-12 col-sm-12" style="text-align: center;">
            <img
            style="margin: 5px 5px 5px 5px;
                   border: white 1px solid;
                   max-width: 98%;
                   max-height: 450px;"
            src="../content/roles/socialActivist/scorpionSuccess/WR/leo-quinn-testimonial.jpg"></img>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-controller="scorpV2Controller">
  <image-container-directive color="primary" bkgd="socialBKGD"></image-container-directive>
</div>

<div class="row jumbotron socialBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Press Coverage
        </div>
        <div class="panel-body">
          <div class="well col-lg-12 col-md-12 col-sm-12" style="text-align: center;">
            <img
            style="margin: 5px 5px 5px 5px;
                   border: white 1px solid;
                   max-width: 98%;
                   max-height: 450px;"
            src="../content/roles/socialActivist/Campaign-Paper.jpg"></img>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<video-container-directive color="primary" bkgd="socialBKGD" video_path="//www.youtube.com/embed/QylQjL2b3eE"></video-container-directive>

<social-scientist-nav-directive></social-scientist-nav-directive>
