<div class="row jumbotron engineeringBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <div style="text-align: right;">
            <a ui-sref="engineer"><img class="roleIcon-sm" src="images/web-rdy_icons/engineer.jpg" alt="engineer" /></a>
          </div>
        </div>
        <div class="panel-body">
          <div class="well col-lg-3 col-md-12 col-sm-12" style="text-align: center;">
            <a ui-sref="software-engineer"><img class="roleIcon-lg" src="images/web-rdy_icons/software-engineer-hex.png" alt="software-engineer" /></a>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12" style="text-align: center;">
            <h6>
              Making small software projects allowed me to see how each piece of code I write is important. I try to be efficient. Not only did each small project enhance my understanding of specific code implementations, I figured out that if I were really clever I could begin working on much longer term projects. I could make some of these projects work together.
            </h6>
            <h6>
              Feeling like I could supplement my professional efforts, I began this approach by working on code that supplemented my understanding of projects. Then, I began to test out, in a prototypical way, the code I would use for work. I felt a sense of accomplishment.
            </h6>
            <h6>
              I learned that with this experience, my personal projects would often get better because of my professional projects, and vice versa. I began coding for major portions of my day, and I've learned more than I can write in a short sentence. But, I think learning the patterns of software engineering are more important than the end projects they produce.
            </h6>
            <h6>
              My ability to code applications is now improved, and I am faster.
            </h6>
            <h6>
              Overall, I am able to use software as a tool for others and for myself. I've built software to collect my thoughts, analyze my feelings, and I'm ready to take this to the next level.
            </h6>
          </div>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-controller="softwareEngineerController">
  <statistics-container-directive></statistics-container-directive>
</div>

<div class="row" ng-controller="softwareEngineerController">
  <coding-container-directive></coding-container-directive>
</div>

<engineer-nav-directive></engineer-nav-directive>
