<div class="row jumbotron artistBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <div style="text-align: right;">
            <a ui-sref="artist"><img class="roleIcon-sm" src="images/web-rdy_icons/artist.jpg" alt="artist" /></a>
          </div>
        </div>
        <div class="panel-body">
          <div class="well col-lg-3 col-md-12 col-sm-12" style="text-align: center;">
            <a ui-sref="sound-designer"><img class="roleIcon-lg" src="images/web-rdy_icons/sound-designer-hex.png" alt="sound-designer" /></a>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12" style="text-align: center;">
            <h6>
              I wanted to do something that other people only dream of doing, but really only to show that dreams can be reality. One of my dreams was to see what it was like to work in radio. I decided to apply for an internship at 98ROCK. After a month of me thinking I didn't get the position, I actually started the internship.
            </h6>
            <h6>
              My impulse to wake up at early hours to prepare for a morning show in a field where I had no experience was amazing and exhausting.
            </h6>
            <h6>
              I felt lucky to meet the people I did, but I felt luckier to learn that celebrities and radio personalities embody the same human fears and trials that other 'normal' humans do. I also reinforced the lesson that none of us are actually normal.
            </h6>
            <h6>
              This experience was one where I learned for myself, but now it is a story I tell others as a cautionary tale. When your dreams become your reality, you find that your have new dreams. Thus, your reality always shifts so be comfortable with change.
            </h6>
            <h6>
              I did apply many of the lessons in the audio space to other parts of my creative, professional, and academic focuses. But, the internship changed the way I view media, and allowed me to understand mass communication in an entirely new light.
            </h6>
          </div>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-controller="soundDesignerController">
  <statistics-container-directive></statistics-container-directive>
</div>

<video-container-directive color="danger" bkgd="artistBKGD" video_path="//player.vimeo.com/video/16929198?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff"></video-container-directive>
<video-container-directive color="danger" bkgd="artistBKGD" video_path="//player.vimeo.com/video/17995764?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff"></video-container-directive>
<video-container-directive color="danger" bkgd="artistBKGD" video_path="//player.vimeo.com/video/50960076?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff"></video-container-directive>
<video-container-directive color="danger" bkgd="artistBKGD" video_path="//player.vimeo.com/video/55260348?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff"></video-container-directive>
<video-container-directive color="danger" bkgd="artistBKGD" video_path="//www.youtube.com/embed/bS7cz5Pmci8"></video-container-directive>

<artist-nav-directive></artist-nav-directive>
