<div class="row jumbotron socialBKGD">
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div style="text-align: right;">
            <a ui-sref="social-scientist"><img class="roleIcon-sm" src="images/web-rdy_icons/social-scientist.jpg" alt="social-scientist" /></a>
          </div>
        </div>
        <div class="panel-body">
          <div class="well col-lg-3 col-md-12 col-sm-12" style="text-align: center;">
            <a ui-sref="world-historian"><img class="roleIcon-lg" src="images/web-rdy_icons/world-historian-hex.png" alt="world-historian" /></a>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12" style="text-align: center;">
            <h6>
My goal was to understand the world and to figure out the entire history of human society. Luckily, I've refined that goal because human history is much larger than any one person can fathom.
            </h6>
            <h6>
I am simply overwhelmed by the amount of information there is, and I am taken aback at its enormous depth. As to the depiction of every person shaping humanity's narrative, that is also awesome. It is compelling that we have had this entire narrative play out in such a small area of the cosmos.
            </h6>
            <h6>
While honing my craft as a social scientist, I found that one of my only ways of becoming rigorous was to mine data. Think of it as someone searching for gold. Information from history books is useful, but the Internet is even more valuable. I came to love the discovery process, but I also found too much disagreement among sources and it is difficult to know what is true and what is false.
            </h6>
            <h6>
I would like to be alive when we have an ability to look into the past, or at least, I want to continue to have that thought experiment. I think we might find out there is more in common between humans than we think.
            </h6>
            <h6>
It is crucial to understanding our history, for if we do not, then we may not truly begin our understanding of ourselves.
            </h6>
          </div>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-controller="worldHistorianController">
  <statistics-container-directive></statistics-container-directive>
</div>

<div class="row" ng-controller="politicalHistoryController">
  <article-container-directive></article-container-directive>
</div>

<div class="row" ng-controller="europeanPoliticalSystemsController">
  <article-container-directive></article-container-directive>
</div>

<div class="row" ng-controller="mediaHistoryController">
  <article-container-directive></article-container-directive>
</div>

<div class="row" ng-controller="artHistoryController">
  <article-container-directive></article-container-directive>
</div>

<div class="row" ng-controller="deutschKulturController">
  <article-container-directive></article-container-directive>
</div>

<div class="row" ng-controller="deutschMenschenController">
  <article-container-directive></article-container-directive>
</div>

<social-scientist-nav-directive></social-scientist-nav-directive>
