
<!-- SECONDARY NAVIGATION -->
<div class="navbar navbar-default navbar-fixed-bottom secondary-navbar" style="margin-right: 15px;" role="navigation" ng-hide="hideSecondary">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">
      <!-- Left intentionally blank -->
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a ui-sref="computer-programmer"><img class="roleIcon-sm" src="images/web-rdy_icons/computer-programmer-hex.png" alt="computer-programmer" /></a></a></li>
        <li><a ui-sref="back-end-developer"><img class="roleIcon-sm" src="images/web-rdy_icons/back-end-developer.jpg" alt="back-end developer"/></a></li>
        <li><a ui-sref="front-end-developer"><img class="roleIcon-sm" src="images/web-rdy_icons/front-end-developer.jpg" alt="front-end developer" /></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
