<!--
This is a generic container to be used only for generating articles interfaces
 -->

<div class="container">
  <div class="col-xs-12">
    <div class="panel panel-warning">
      <div class="panel-heading">{{title}}</div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-lg-3">
            <ul class="list-group">
              <a style="cursor: pointer;" class="list-group-item"
                 ng-repeat="project in projects"
                 ng-click="selectProject(project)">
                 {{project.name}}
               </a>
            </ul>
          </div>
          <div class="col-lg-9">
            <div class="well" style="height: 700px;">
              <div style="text-align: center;"
                  ng-show="selectedProject == null">
                  {{default}}
              </div>
              <div ng-show="selectedProject != null">
                {{selectedProject.name}}
                <hr></hr>
                <h6>{{selectedProject.description}}<h6>
                <hr></hr>
                <a class="btn btn-md btn-default pull-right" ng-href="{{selectedProject.filepath}}" style="color: white;">Download <i class="fa fa-download" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
