<!--
This is a generic container to be used only for generating articles interfaces
 -->

<div class="container">
  <div class="col-xs-12">
    <div class="panel panel-danger">
      <div class="panel-heading">{{title}}</div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-lg-12">
            <div class="well" style="height: 500px;">
              <div style="text-align: center;"
                  ng-show="selectedImage == null">
                  {{default}}
              </div>
              <div style="text-align: center; position: relative;
  top: 50%;
  transform: translateY(-50%);"
                  ng-show="selectedImage != null">
                <img
                  style="margin: 5px 5px 5px 5px;
                         border: white 1px solid;
                         max-width: 98%;
                         max-height: 450px;"
                  ng-src="{{selectedImage.filepath}}">
                </img>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="well" style="height: 200px;">
              <div style="display: inline-block;
                          width: 100%;
                          overflow-y: hidden;
                          white-space: nowrap;
                          border: #AAA 1px solid;">
                <img
                  style="max-height: 150px; margin: 5px 5px 5px 5px; border: white 1px solid;"
                  ng-repeat="image in images"
                  ng-click="selectImage(image)"
                  ng-src="{{image.t_filepath}}">
                </img>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
