
<!-- SECONDARY NAVIGATION -->
<div class="navbar navbar-default navbar-fixed-bottom secondary-navbar" style="margin-right: 15px;" role="navigation" ng-hide="hideSecondary">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">
      <!-- Left intentionally blank -->
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a ui-sref="social-scientist"><img class="roleIcon-sm" src="images/web-rdy_icons/social-scientist.jpg" alt="social-scientist" /></a></li>
        <li><a ui-sref="journalist"><img class="roleIcon-sm" src="images/web-rdy_icons/journalist.jpg" alt="journalist" /></a></li>
        <li><a ui-sref="world-historian"><img class="roleIcon-sm" src="images/web-rdy_icons/world-historian.jpg" alt="world historian" /></a></li>
        <li><a ui-sref="political-economist"><img class="roleIcon-sm" src="images/web-rdy_icons/political-economist.jpg" alt="political economist" /></a></li>
        <li><a ui-sref="social-activist"><img class="roleIcon-sm" src="images/web-rdy_icons/social-activist.jpg" alt="social activist" /></a></li>
        <li><a ui-sref="comparative-institutionalist"><img class="roleIcon-sm" src="images/web-rdy_icons/comparative-institutionalist.jpg" alt="comparative institutionalist"/></a></li>
        <li><a ui-sref="cultural-anthropologist"><img class="roleIcon-sm" src="images/web-rdy_icons/cultural-anthropologist.jpg" alt="cultural_anthropologist" /></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
