<!-- <div class="row jumbotron {{bkgd}}"> -->
  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-{{color}}">
        <div class="panel-body">
          <div class="well col-lg-12 col-md-12 col-sm-12" style="text-align: center;">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="{{videoPath}}" width="250" height="141" frameborder="3" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
